# General stuff
/.vscode
/__pycache__

# Calibration stuff
/calibration/*
!/calibration/.gitkeep
!/calibration/*.npz
/calibration_images*

# Training data
/video_output/*
!/video_output/.gitkeep
/video_input/*
!/video_input/.gitkeep
/robot-detection-dataset-*

# Models
/runs
*.pt